body{
    background-color:rgb(245, 193, 133);
}
h1{
    font-size: 100px;
    font-weight: 700px;
    color: rgba(252, 98, 9, 0.979);
    text-align: center;
    font-family: monospace;
    font-weight: 700;
}
img{
    width:30%;
    height: 30%;
    margin-left: 150px;
    float:left;
}
p{
    width: 30%;
    float:right;
    height: 30%;
    color:rgb(68, 10, 49);
    margin-right: 400px;
    margin-top: 40px;
    text-decoration: teal;
    font-size:33px ;
    font-family: monospace;
    font-weight: 600;
}

